*.pyc
*.so
*.png
*.eps
*~
\#*
build/
dist/
inputs.auto
.noseids

.ipynb_checkpoints/

*.pdf

*.h5
!/*/tests/*.h5

.cache

.pytest_cache/

__pycache__/

.DS_Store


pyro/_version.py
pyro.egg-info/
pyro_hydro.egg-info/
.eggs/
