Taher Chegini <taher.chegini@gmail.com> Taher Chegini <taher@cfd-lab.attlocal.net>
Taher Chegini <taher.chegini@gmail.com> taataam <taher.chegini@gmail.com>
Michael Zingale <michael.zingale@stonybrook.edu> Michael Zingale <mzingale@mail.astro.sunysb.edu>
Michael Zingale <michael.zingale@stonybrook.edu> Michael Zingale <zingale@bender.astro.sunysb.edu>
Michael Zingale <michael.zingale@stonybrook.edu> Michael Zingale <zingale@localhost.localdomain>
Michael Zingale <michael.zingale@stonybrook.edu> Michael Zingale <zingale@nan.astro.sunysb.edu>
Michael Zingale <michael.zingale@stonybrook.edu> Michael Zingale <zingale@inf.astro.sunysb.edu>
Michael Zingale <michael.zingale@stonybrook.edu> zingale <zingale>
