numpy>=1.13.3
matplotlib>=2.0.0
h5py>=2.7
scipy>=0.16
numba>=0.40.0

pytest>=3.6
nbval>=0.9.0
pytest-cov>=2.6.0

flake8>=3.5.0

sphinx<9.2.0
sphinx_book_theme
sphinxcontrib-bibtex
sphinx-math-dollar
sphinx-copybutton
sphinx-prompt
sphinx-mdinclude
numpydoc
nbsphinx>=0.3.1

importlib-metadata
prettytable
codespell
