.reveal pre code {
padding: 0.5em;
font-size: 80%;
}


em {
color: blue;
}


.reveal p {
margin-bottom: 0.25em;
margin-top: 0.5em;
}

.reveal ul {
padding: 0em;
margin-top: 0.5em;
}

.reveal {
font-size: 100;
font-family: carlito;
}

div.output pre {
    font-size: 65%;
}
